@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.typewritter {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100%;
    min-height: 2em;
}

.text_1 {
    animation: text1;
}

.text_2 {
    animation: text2;
}

.text_1,
.text_2 {
    overflow: hidden;
    padding-top: 0.2em;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 20s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    font-family: "Anonymous Pro", monospace;
    font-size: 26px;
}

.text_1::after,
.text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes text2 {
    0%,
    50%,
    100% {
        width: 0;
    }
    60%,
    90% {
        width: 15.5em;
    }
}

@keyframes text1 {
    0%,
    50%,
    100% {
        width: 0;
    }
    10%,
    40% {
        width: 13.5em;
    }
}

@keyframes caret {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@media all and (max-width: 1024px) {
    .typewritter {
        background-color: aliceblue;
        width: 40%;
        height: 100%;
        min-height: 2em;
    }
    .text_1,
    .text_2 {
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        animation-duration: 20s;
        animation-timing-function: steps(25, end);
        animation-iteration-count: infinite;
        font-family: "Anonymous Pro", monospace;
        font-size: 15px;
    }
    @media all and (max-width: 500px) {
        .typewritter {
            background-color: aliceblue;
            width: 85%;
            height: 100%;
            min-height: 2em;
        }
        .text_1,
        .text_2 {
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            animation-duration: 20s;
            animation-timing-function: steps(25, end);
            animation-iteration-count: infinite;
            font-family: "Anonymous Pro", monospace;
            font-size: 15px;
        }
    }
}